{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static "mgmt-style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap"
          rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>eTreasure Hunt</title>
    <style>
      .top {
        background-image: url("{% static "colors.png" %}");
      }
    </style>
  </head>
  <body>
    <div class="top">
      <div class="left">
        <a href="{% url 'go-home' %}">HOME</a>
      </div>
      <form class="logout-form" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Log out</button>
      </form>
    </div>
    <div class="content">
      {% if success == "True" %}
        <div class="success">Operation completed successfully</div>
      {% elif success == "False" %}
        <div class="fail">Operation failed</div>
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
