<div class="chat-container">
  <div class="chat-header">
    <p class="chat-title">Chat</p>
  </div>
  <div class="chat-body">
    <div id="chat-messages" class="chat-messages">
      {% for message in messages %}
        <b>{{ message.name }}</b>: {{ message.content }}
        <br>
      {% endfor %}
    </div>
  </div>
  <div id="chat" hidden>
    <input type="text"
           placeholder="Message"
           id="chat-message-input"
           aria-label="Chat message">
    <button class="chat-button" type="button" id="chat-message-submit">Submit</button>
  </div>
  <div id="username">
    <input type="text" placeholder="Username" id="username-input" aria-label="Enter username">
    <button class="chat-button" type="button" id="username-submit">Set Username</button>
  </div>
  <small id="username-display" class="chat-muted">Your username: Unknown</small>
</div>
