{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static "welcome-style.css" %}">
<style>
  body {
    background-image: url("{% static "colors.png" %}");
  }
</style>
{% endblock extra_head %}
{% block header_nav %}{% endblock header_nav %}
{% block content %}
<h1>{{ display_name }}</h1>
<a class="gobutton" href="{% url 'level' level=team_level %}">LATEST LEVEL</a>
<a class="gobutton" href="{% url 'levels' %}">LEVEL LIST</a>
{% endblock content %}
