name: Linting

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 3 1 * *"
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ${{ matrix.image }}
    strategy:
      matrix:
        os:
          - Ubuntu
        python-version:
          - "3.13"
          - "3.14"
        include:
          - os: Ubuntu
            image: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up python {{ matrix.python-version }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      # For building pillow from source
      # - name: Install libjpeg headers
      #   run: sudo apt-get install libjpeg-dev
      #   if: matrix.python-version == '3.14'

      # For building pyodbc from source
      # - name: Install unixodbc headers
      #   run: sudo apt-get install unixodbc-dev
      #   if: matrix.python-version == '3.14'

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4

      - name: Check lockfile
        run: uv lock --locked --offline

      - name: Install project
        run: uv sync -p ${{ matrix.python-version }} --extra azure

      - name: ruff
        run: uv run ruff check .

      - name: ruff format
        run: uv run ruff format --check .

      - name: mypy
        run: uv run mypy .
